# Cache files
.cache/*

# MacOS related
.DS_Store

# Xcode user settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# VSCode
.vscode

# Compiledb
compile_commands.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
all_test
bench
Tests/all_test